<!-- <body id="page-top"> -->

<nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top" id="sideNav">
  <a class="navbar-brand js-scroll-trigger" href="#page-top">
    <span class="d-block d-lg-none">Luís Santos</span>
    <span class="d-none d-lg-block">
      <img class="img-fluid img-profile rounded-circle mx-auto mb-2" src="assets/img/face.jpg" alt="">
    </span>
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" role="button" (click)="scroll(about)">Sobre Mim</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" role="button" (click)="scroll(projects)">Projetos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" role="button" (click)="scroll(experience)">Experiência</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" role="button" (click)="scroll(education)">Formação</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" role="button" (click)="scroll(skills)">Competências</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" role="button" (click)="scroll(interests)">Interesses</a>
      </li>
    </ul>
  </div>
  <a href="https://m.do.co/c/8ccb7453dd8d" rel="noreferrer" target="_blank" class="d-none d-lg-block">
    <img src="assets/img/DOwm-white.png" alt="Prowdly hosted by Digital Ocean">
  </a>
</nav>

<div class="container-fluid p-0">

  <section class="resume-section p-3 p-lg-5 d-flex d-column" id="about" #about>
    <div class="my-auto">
      <h1 class="mb-0">Luís
        <span class="text-primary">Santos</span>
      </h1>
      <div class="subheading mb-5"> (+351) 937 426 269
        <a href="mailto:luis.miguel_santos@hotmail.com">luis.miguel_santos@hotmail.com</a>
      </div>
      <p>
        Tendo como foco principal as tecnologias web, sou um programador com sensivelmente dois anos de experiência que
        neste momento se encontra em busca de novos desafios e oportunidades.
      </p>
      <p>
        Pretendo progredir a nível profissional de forma a adquirir novos conhecimentos e gerar resultados tanto a
        nível qualitativo como quantitativo.
      </p>
      <p class="mb-5">
        Com bastante vontade de aprender, considero-me um individuo bastante dedicado, perfecionista e com uma ótima
        capacidade de me adaptar a qualquer ambiente, tenho experiência em diversas tecnologias com equipas de várias
        dimensões.
      </p>
      <ul class="list-inline list-social-icons mb-0">
        <li class="list-inline-item">
          <a href="https://www.linkedin.com/in/luismgsantos" data-toggle="tooltip" title="LinkedIn" target="_blank">
            <span class="fa-stack fa-lg">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
            </span>
          </a>
        </li>
        <li class="list-inline-item">
          <a href="https://bitbucket.org/luissantoshd" data-toggle="tooltip" title="BitBucket" target="_blank">
            <span class="fa-stack fa-lg">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-bitbucket fa-stack-1x fa-inverse"></i>
            </span>
          </a>
        </li>
        <li class="list-inline-item">
          <a href="./docs/cv.pdf" data-toggle="tooltip" title="CV" download>
            <span class="fa-stack fa-lg">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-download fa-stack-1x fa-inverse"></i>
            </span>
          </a>
        </li>
      </ul>
    </div>
  </section>


  <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="projects" #projects>
    <div class="my-auto px-auto">
      <h2 class="mb-5">Projetos</h2>
      <div class="row">

        <div class="col-lg-3" *ngFor="let project of _projects">
          <div class="card project">
            <div class="card-image">
              <img [src]="project.imageUrl ? project.imageUrl : 'assets/img/laptop-stand.png'">
            </div>
            <div class="card-content">
              <h6 class="cart-title" *ngIf="project.title">
                {{ project.title }}
              </h6>
              <p>{{ project.description }}</p>
            </div>

            <div class="card-action">
              <a href="{{ project.link }}" *ngIf="project.link" target="_blank">
                Ver online
                <i class="fa fa-external-link"> </i>
              </a>
              <br *ngIf="project.link && !project.linkCode">
              <a href="{{ project.linkCode }}" *ngIf="project.linkCode" target="_blank">
                Ver código
                <i class="fa fa-external-link"> </i>
              </a>
            </div>
          </div>
        </div>

      </div>
    </div>
  </section>

  <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="experience" #experience>
    <div class="my-auto">
      <h2 class="mb-5">Experiencia</h2>

      <div class="resume-item d-flex flex-column flex-md-row mb-5">
        <div class="resume-content mr-auto">
          <h3 class="mb-0">Angular Developer</h3>
          <div class="subheading mb-3">
            <a href="https://affinity.pt/" target="_blank">
              AFFINITY Portugal - Lisboa, Portugal
            </a>
          </div>
          <p>
            Desenvolvimento de aplicações em âmbito de formação:
          </p>
          <ul>
            <li>Angular 8+</li>
            <li>MEAN Stack</li>
          </ul>
          <p></p>
        </div>
        <div class="resume-date text-md-right">
          <span class="text-primary">Junho 2019 - Presente</span>
        </div>
      </div>

      <div class="resume-item d-flex flex-column flex-md-row mb-5">
        <div class="resume-content mr-auto">
          <h3 class="mb-0">Desenvolvimento Mobile</h3>
          <div class="subheading mb-3">
            <a href="https://www.cgd.pt/" target="_blank">
              Caixa Geral de Depósitos - Lisboa, Portugal
            </a>
          </div>
          <p>
            Manutenção evolutiva em Projeto Existente (Ionic Framework, AngularJS, Sass)
          </p>
          <p>
            * Consultor para <a href="https://affinity.pt/" target="_blank">AFFINITY Portugal</a>
          </p>
        </div>
        <div class="resume-date text-md-right">
          <span class="text-primary">Março 2019 - Junho 2019</span>
        </div>
      </div>

      <div class="resume-item d-flex flex-column flex-md-row mb-5">
        <div class="resume-content mr-auto">
          <h3 class="mb-0">Desenvolvimento Web</h3>
          <div class="subheading mb-3">
            <a href="https://spms.min-saude.pt/" target="_blank">
              SPMS - Serviços Partilhados do Ministério da Saúde -
              Av. da República 61,
              1050-099 Lisboa
            </a>
          </div>
          <p>Programação Web (HTML, CSS, jQuery, PHP)</p>
          <p>
            * Consultor para <a href="https://www.winning-consulting.com/" target="_blank">WINNING
              Scientific Management</a>
          </p>
        </div>
        <div class="resume-date text-md-right">
          <span class="text-primary">Julho 2018 - Novembro 2018</span>
        </div>
      </div>

      <div class="resume-item d-flex flex-column flex-md-row mb-5">
        <div class="resume-content mr-auto">
          <h3 class="mb-0">Desenvolvimento Web</h3>
          <div class="subheading mb-3">
            <a href="https://www.aloha.pt/">
              Aloha - Soluções Informáticas - Rua Batalha do Viso, Nº111B, 2900-270 Setúbal
            </a>
          </div>
          <p>Aplicação de suporte para gestão de objetivos para consultores imobiliários. (Laravel 5.5)
          </p>
          <p>Aplicativo interno para gestão de leads comerciais (HTML, CSS, jQuery)</p>
          <p>Diversas páginas de apresentação para alojamentos locais. (HTML, CSS, jQuery)</p>
        </div>
        <div class="resume-date text-md-right">
          <span class="text-primary">Novembro 2017 - Junho 2018</span>
        </div>
      </div>
    </div>

    <div class="resume-item d-flex flex-column flex-md-row mb-5">
      <div class="resume-content mr-auto">
        <h3 class="mb-0">Estágio - Desenvolvimento Web &amp; Móvel</h3>
        <div class="subheading mb-3">
          <a href="http://futureway.pt/" target="_blank">
            Futureway - Rua António José Batista N.º 45, 2910-121 Setúbal
          </a>
        </div>
        <p>Programação Web (HTML5, CSS3, jQuery e PHP)</p>
        <p>Programação em Arduino</p>
        <p>Desenvolvimento Móvel (Framework Ionic, AngularJS/TypeScript, SASS)</p>
        <p>
          <strong>
            O projeto final consistiu na elaboração de uma aplicação móvel que tinha a função
            de permitir ao seu utilizador verificar
            o estado do seu sistema IoT "On the go".
          </strong>
        </p>

      </div>
      <div class="resume-date text-md-right">
        <span class="text-primary">Março 2017 - Julho 2017</span>
      </div>
    </div>

    <div class="resume-item d-flex flex-column flex-md-row mb-5">
      <div class="resume-content mr-auto">
        <h3 class="mb-0">Estágio - Programador C#</h3>
        <div class="subheading mb-3">Condomínio Activo - Grupo CHARIB - Avenida Bento Gonçalves, 19-A, 2910-433
          Setúbal
        </div>
        <div class="subheading mb-3">
          <a href="http://www.charib.com/" target="_blank">CHARIB</a>
        </div>
        <p>Configuração e manutenção de computadores</p>
        <p>Configuração e manutenção da rede instalada</p>
        <p>Instalação, configuração e manutenção de periféricos de computadores ou de uma rede local
        </p>
        <p>
          <strong>
            O projeto final consistiu na elaboração de uma pequena aplicação desktop que tinha
            a função de imprimir folhas de serviço
            com os detalhes individuais de cada prédio.
          </strong>
        </p>
      </div>
      <div class="resume-date text-md-right">
        <span class="text-primary">Março 2015 - Junho 2015</span>
      </div>
    </div>
    <!-- </div> -->

  </section>

  <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="education" #education>
    <div class="my-auto">
      <h2 class="mb-5">Formação</h2>

      <div class="resume-item d-flex flex-column flex-md-row mb-5">
        <div class="resume-content mr-auto">
          <h3 class="mb-0">Instituto Politécnico de Setúbal - Escola Superior de Tecnologia</h3>
          <div class="subheading mb-3">Técnico Superior em Programação Web, Dispositivos e Aplicações Móveis
          </div>
          <div>Nível 5 QEQ</div>
          <!-- <p>Média: 14v</p> -->
        </div>
        <div class="resume-date text-md-right">
          <span class="text-primary">Outubro 2015 - Julho 2017</span>
        </div>
      </div>

      <div class="resume-item d-flex flex-column flex-md-row">
        <div class="resume-content mr-auto">
          <h3 class="mb-0">Escola Secundária Dom Manuel Martins, Setúbal</h3>
          <div class="subheading mb-3">Técnico de Gestão e Programação de Sistemas Informáticos</div>
          <div>Nível 4 QEQ</div>
          <!-- <p>Média: 14v</p> -->
        </div>
        <div class="resume-date text-md-right">
          <span class="text-primary">Setembro 2013 - Junho 2015</span>
        </div>
      </div>

    </div>
  </section>

  <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="skills" #skills>
    <div class="my-auto">
      <h2 class="mb-5">Competências</h2>

      <div class="subheading mb-3">Linguagens de Programação &amp; Ferramentas</div>
      <ul class="list-inline list-icons">
        <li class="list-inline-item">
          <i class="devicon-laravel-plain" data-toggle="tooltip" title="Laravel"></i>
        </li>
        <li class="list-inline-item">
          <i class="devicon-php-plain" data-toggle="tooltip" title="PHP"></i>
        </li>
        <li class="list-inline-item">
          <i class="devicon-nodejs-plain" data-toggle="tooltip" title="NodeJS"></i>
        </li>
        <li class="list-inline-item">
          <i class="devicon-python-plain" data-toggle="tooltip" title="Python3"></i>
        </li>
        <li class="list-inline-item">
          <i class="devicon-javascript-plain" data-toggle="tooltip" title="JavaScript"></i>
        </li>
        <li class="list-inline-item">
          <i class="devicon-angularjs-plain" data-toggle="tooltip" title="Angular 4+"></i>
        </li>
        <li class="list-inline-item">
          <i class="devicon-typescript-plain" data-toggle="tooltip" title="TypeScript"></i>
        </li>
        <li class="list-inline-item">
          <i class="devicon-jquery-plain" data-toggle="tooltip" title="jQuery"></i>
        </li>
        <li class="list-inline-item">
          <i class="devicon-mysql-plain" data-toggle="tooltip" title="mySQL"></i>
        </li>
        <li class="list-inline-item">
          <i class="devicon-mongodb-plain" data-toggle="tooltip" title="MongoDB"></i>
        </li>
        <li class="list-inline-item">
          <i class="devicon-html5-plain" data-toggle="tooltip" title="HTML5"></i>
        </li>
        <li class="list-inline-item">
          <i class="devicon-css3-plain" data-toggle="tooltip" title="CSS3"></i>
        </li>
        <li class="list-inline-item">
          <i class="devicon-sass-plain" data-toggle="tooltip" title="Sass"></i>
        </li>
        <li class="list-inline-item">
          <i class="devicon-bootstrap-plain" data-toggle="tooltip" title="Bootstrap"></i>
        </li>
        <li class="list-inline-item">
          <i class="devicon-git-plain" data-toggle="tooltip" title="Git"></i>
        </li>
        <li class="list-inline-item">
          <i class="devicon-bitbucket-plain" data-toggle="tooltip" title="Bitbucket"></i>
        </li>
        <li class="list-inline-item">
          <i class="devicon-npm-original-wordmark" data-toggle="tooltip" title="NPM"></i>
        </li>
        <li class="list-inline-item">
          <i class="devicon-react-plain" data-toggle="tooltip" title="ReactJS"></i>
        </li>
        <li class="list-inline-item">
          <i class="devicon-nginx-plain" data-toggle="tooltip" title="NGINX"></i>
        </li>
        <li class="list-inline-item">
          <i class="devicon-visualstudio-plain" data-toggle="tooltip" title="Visual Studio Code"></i>
        </li>
      </ul>
      <div class="subheading mb-3">Sistemas Operativos</div>
      <ul class="list-inline list-icons">
        <li class="list-inline-item">
          <i class="devicon-windows8-original" data-toggle="tooltip" title="Microsoft Windows"></i>
        </li>
        <li class="list-inline-item">
          <i class="devicon-ubuntu-plain" data-toggle="tooltip" title="Ubuntu 16.04+"></i>
        </li>
      </ul>
    </div>
  </section>

  <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="interests" #interests>
    <div class="my-auto">
      <h2 class="mb-5">Interesses</h2>
      <ul class="list-unstyled">
        <li class="p-5">
          <img src="assets/img/tent.svg" alt="" class="float-left interests-image mr-5">
          <span class="w-100">
            Desde muito jovem que faço parte dos escuteiros, mais precisamente há oito anos, sendo
            este o meu hobby mais antigo. Como
            tal, pratico atividades ao ar livre e organizo acampamentos frequentemente, visto que o
            contacto
            com a natureza proporciona-me o equilibrio perfeito para espairecer do meu estilo de
            vida citadino.
          </span>
        </li>
        <li class="px-5 pb-5">
          <img src="assets/img/grill.svg" alt="" class="float-right interests-image mr-5">
          <span class="w-100">
            Embora ainda seja um pouco inexpriente nesta área, conservo um gosto particular por
            cozinhar, sendo que a elaboração e criação
            de novas receitas ou aperfeicoamento das já existentes é uma prática comum que todos os
            dias
            procuro aprimorar até chegar ao limiar da perfeição.
          </span>
        </li>
        <li class="px-5 pb-5">
          <img src="assets/img/guitar.svg" alt="" class="float-left interests-image mr-5">
          <span class="w-100">
            No âmbito da música, considero possuir um talento natural para a guitarra, apesar de
            nunca explorar esse talento a nível
            académico orgulho-me de revelar que todos os conhecimentos que adquiri foram o
            resultado de uma
            extensa auto-aprendizagem.
          </span>
        </li>
        <li class="px-5 pb-5">
          <img src="assets/img/gandalf.svg" alt="" class="float-right interests-image mr-5">
          <span class="w-100">
            Um dos hobbies um pouco fora de comum que pratico mas que nao deixa de ser consierado
            como tal baseia-se na coleção de réplicas
            de artefactos inseridos nos universos fantásticos de "Lord of the Rings", "Harry
            Potter" e "Game
            of Thrones", partilho essa ocupação com a minha namorada, sendo as nossas coleções já
            bastante
            extensas e diversificadas.

          </span>
        </li>
        <li class="px-5 pb-5">
          <img src="assets/img/fork.svg" alt="" class="float-left interests-image mr-5">
          <span class="w-100">
            Dispenso uma parte substancial do meu tempo a atualizar-me sobre novas tecnologias e
            técnicas para aplicar os meus conhecimentos.
            <br>
            O meu objetivo primordial é conseguir, num futuro não muito longínquo, integrar-me numa
            equipa
            onde tenho um papel fundamental no desenvolvimento de uma tecnologia que irá resolver
            um problema
            do mundo real.

          </span>
        </li>
      </ul>
    </div>
  </section>

  <footer class="resume-section px-3 px-lg-5 d-flex flex-column">
    Este portfólio foi baseado num template.
    <a href="https://startbootstrap.com/template-overviews/resume/" target="_blank">Start Bootstrap Theme</a>
  </footer>
</div>

<!-- </body> -->